<div class="create-utility-area center">
    <h1>Create Utility Area</h1>
    <form (ngSubmit)="onSubmit()" #utilityAreaForm="ngForm">
        <table>
            <tr>
                <div class="forum-group">
                    <mat-form-field>
                        <th>
                            <mat-select placeholder="Utility Company" required [(ngModel)]="utilityId" name="first">
                                <mat-option *ngFor="let utility of utilities" value="{{ utility.utilityId }}">
                                    {{ utility.name }}
                                </mat-option>
                            </mat-select>
                        </th>
                    </mat-form-field>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="zipCode">Zip Code: </label>
                    </th>
                    <input type="text" length="5" pattern="[0-9]{5}" class="form-control" id="zipCode" required
                        [(ngModel)]="utilityArea.zipCode" name="zipCode" #zipCode="ngModel">
                    <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
                        Please enter a valid Zip Code
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="outageStatus">Current Outage: </label>
                        <input type="checkbox" class="form-control" id="outageStatus" [(ngModel)]="utilityArea.outageStatus" name="outageStatus">
                    </th>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="fixTime">Time Until Fix: </label>
                    </th>
                    <input type="text" class="form-control" id="fixTime" [(ngModel)]="utilityArea.fixTime" name="fixTime">
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="comment">Comment: </label>
                    </th>
                    <input type="text" class="form-control" id="comment" [(ngModel)]="utilityArea.comment" name="comment">
                </div>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn btn-success" [disabled]="!utilityAreaForm.form.valid">Submit</button>
                </th>
            </tr>
        </table>
    </form>
</div>