<div class="report-outage center">
    <h1>Report Outage</h1>
    <form (ngSubmit)="onSubmit()" #outageForm="ngForm">
        <table>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="firstName">First Name: </label>
                    </th>
                    <input type="text" class="form-control" id="firstName" required [(ngModel)]="outage.firstName"
                        name="firstName" #firstName="ngModel">
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        First Name is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="lastName">Last Name: </label>
                    </th>
                    <input type="text" class="form-control" id="lastName" required [(ngModel)]="outage.lastName" name="lastName"
                        #lastName="ngModel">
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        Last Name is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="streetAddress">Street Address: </label>
                    </th>
                    <input type="text" class="form-control" id="streetAddress" required [(ngModel)]="outage.streetAddress"
                        name="streetAddress" #streetAddress="ngModel">
                    <div [hidden]="streetAddress.valid || streetAddress.pristine" class="alert alert-danger">
                        Street Address is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="zipCode">Zip Code: </label>
                    </th>
                    <input type="text" length="5" pattern="[0-9]{5}" class="form-control" id="zipCode" required
                        [(ngModel)]="outage.zipCode" name="zipCode" #zipCode="ngModel">
                    <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
                        Please enter a valid Zip Code
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="firstName">Email: </label>
                    </th>
                    <input type="email" class="form-control" id="email" required [(ngModel)]="outage.email" name="email"
                        #email="ngModel">
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        Email is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="comment">Comment: </label>
                    </th>
                    <input type="text" class="form-control" id="comment" [(ngModel)]="outage.comment" name="comment">
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <mat-form-field>
                            <mat-select placeholder="Utility Company">
                                <mat-option *ngFor="let utility of utilities" value="utility">
                                    {{utility.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                </div>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn btn-success" [disabled]="!outageForm.form.valid">Submit</button>
                </th>
            </tr>
        </table>
    </form>
</div>