<div style="padding: 13px;">
    <h1 class="center">Utility Areas</h1>
    <h2 class="center">[{{ utility.name }}]:</h2>
    <mat-card *ngFor="let utilityArea of utilityAreas" style="margin-top: 11px;">
        <mat-card-content>
            <p>
                <b>Zip Code:</b> {{ utilityArea.zipCode }}<br>
                <b>Outage Status:</b> {{ utilityArea.outageStatus }}<br>
                <b>Time Until Fix:</b> {{ utilityArea.fixTime }}<br>
                <b>Comment:</b> {{ utilityArea.comment }}
            </p>
        </mat-card-content>
    </mat-card>
    <div style="padding: 10px;" class="center">
        <button class="btn btn-success" (click)="createAreas()">Add Utility Area</button>
    </div>
</div>
