<div class="create-utility center">
    <h1>Create Utility</h1>
    <form (ngSubmit)="onSubmit()" #outageForm="ngForm" >
        <table>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="name">Name: </label>
                    </th>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="utility.name"
                        name="name" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="email">Email: </label>
                    </th>
                    <input type="text" class="form-control" id="email" required [(ngModel)]="utility.email" name="email"
                        #email="ngModel">
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        Email is required
                    </div>
                </div>
            </tr>
            <tr>
                <div class="forum-group">
                    <th>
                        <label for="website">Website: </label>
                    </th>
                    <input type="text" class="form-control" id="website" required [(ngModel)]="utility.website"
                        name="website" #website="ngModel">
                    <div [hidden]="website.valid || website.pristine" class="alert alert-danger">
                        Website is required
                    </div>
                </div>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn btn-success" [disabled]="!outageForm.form.valid">Submit</button>
                </th>
            </tr>
        </table>
    </form>
</div>