<mat-toolbar color="primary">
  <h1>Outage Reporter</h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/outages">Outages</button>
  <button mat-button routerLink="/utility">Utility Companies</button>
  <button mat-button routerLink="/utility-area">Utility Areas</button>
  
  <!-- <button mat-button routerLink="/report-outage">Report Outage</button>
  <button mat-button routerLink="/create-utility">Create Utility</button>
  <button mat-button routerLink="/create-utility-area">Create Utility Area</button> -->
</mat-toolbar>

<router-outlet></router-outlet>
