<div style="padding: 13px;">
    <h1>Outages</h1>
    <mat-card *ngFor="let outage of outages" (click)="navigate(outage.id)" style="margin-top: 11px;">
        <mat-card-content>
            <p>
                <b>Name:</b> {{ outage.firstName + " " + outage.lastName }}<br>
                <b>Address:</b> {{ outage.streetAddress + ", " + outage.zipCode }}<br>
                <b>Email:</b> {{ outage.email }}<br>
                <b>Comment:</b> {{ outage.comment }}<br>
                <b>Utility Company: </b> {{ outage.utility.name }}
            </p>
        </mat-card-content>
    </mat-card>
    <div style="padding: 10px;" class="center">
        <button class="btn btn-success" (click)="createOutage()">Report Outage</button>
    </div>
</div>
