<div id="content">

    <table>
        <tr>
            <td><h2>Manage Outages:</h2></td>
            <td><h2>Manage Utilities:</h2></td>
            <td><h2>Manage Utility Areas:</h2></td>
        </tr>
        <tr>
            <td><button mat-raised-button routerLink="/outages">View Outages</button></td>
            <td><button mat-raised-button routerLink="/utility">View Utility Companies</button></td>
            <td><button mat-raised-button routerLink="/utility-area">View Utility Areas</button></td>
        </tr>
        <tr>
            <td><button mat-raised-button routerLink="/report-outage">Report Outage</button></td>
            <td><button mat-raised-button routerLink="/create-utility">Create Utility Company</button></td>
            <td><button mat-raised-button routerLink="/create-utility-area">Create Utility Area</button></td>
        </tr>
    </table><br>

    <img src="assets/images/lightning-symbol.png" alt="lightning" width="34%">

</div>

